* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

:root {
  --font__weight--md: 500;
  --font__weight--sb: 600;
  --font__weight--b: 700;
  --font__weight--eb: 800;
  --font__family--headings: "Inter", sans-serif;
  --font--rg: 1.6rem;
  --font--md: 2rem;
  --font--lg: 2.4rem;

  --color__blue: rgba(87, 0, 255, 1);

  --border__radius: 2rem;
}

body {
  padding: 4.2rem 0;
  display: block;
  line-height: 1.6;
  font-size: var(--font--rg);
  font-weight: 400;
  color: #333;
}

header {
  all: unset;
}

/* Headings */
.secondary-heading,
.tertiary-heading,
.subheading {
  font-weight: var(--font__weight--md);
  font-family: var(--font__family--headings);
  line-height: 95%;
}

.secondary-heading {
  font-size: 9.2rem;
  letter-spacing: -0.5px;
}

.tertiary-heading {
  font-size: 8rem;
}

.subheading {
  font-size: 5.2rem;
}

/* Layout Rules */
.grid {
  display: grid;
}

.grid.align {
  align-items: center;
}

.grid.gap--xsm,
.flex.gap--xsm {
  gap: 1.2rem;
}

.grid.gap--sm,
.flex.gap--sm {
  gap: 2.4rem;
}

.grid.gap--md,
.flex.gap--md {
  gap: 5.2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.center {
  align-items: center;
  justify-content: center;
}

.flex.between {
  justify-content: space-between;
}

.flex.end {
  align-items: flex-end;
}
