/* Section Header */
.header {
}

.section-header {
  background-color: var(--color__blue);
  border-radius: 100rem;
  padding: 9.6rem 12.8rem;
}

.section-header > h2 {
  color: #fff;
}

.section-header--img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-image: url("/src/img/welcomeFAQImage.png");
  background-position: center;
  background-size: cover;
}

/* Testimonials */
.swiper--testimonials {
  width: 100%;
  height: 50rem;
}

.testimonial {
  background-color: #f3f3f3;
  padding: 2.4rem 4rem;
  border-radius: var(--border__radius);
}

.testimonial p {
  font-size: inherit;
}

.testimonial span {
  font-weight: var(--font__weight--eb);
}

/* Accordian */
.accordian {
  align-self: start;
  background-color: #00d2641a;
  padding: 3.2rem 4rem;
  border-radius: var(--border__radius);
}

.accordian__el {
}

.el__header {
}

.el__header > p,
.contact__header {
  font-size: var(--font--lg);
  font-weight: var(--font__weight--sb);
}

.el__header > svg {
  width: 2.4rem;
  height: 2.4rem;
}

.accordian__el > .underline {
  width: 100%;
  height: 1px;
  border-radius: var(--border__radius);
  background-color: #333;
}

.el__content {
  display: none;
  padding: 1.2rem 0 2.4rem 1.2rem;
  border-bottom: 1px solid #ddd;
}

.el__content > p {
  font-size: inherit;
}

.active > .el__content {
  display: block;
}

.contact__information {
  font-size: 1.8rem;
  font-weight: var(--font__weight--sb);
  width: 50%;
}

/* Images Carousel */
.swiper--images {
  width: 100%;
  height: auto;
}

.swiper--images .swiper-slide {
  display: block;
  width: 35%;
}

.swiper-slide img {
  width: 100%;
  aspect-ratio: auto;
}

/* Activites Header */
.activities__header {
  position: relative;
  width: 100%;
  padding-top: 10%;
  justify-content: flex-end;
}

.activities__header > .tertiary-heading,
.activities__header > .subheading {
  color: #000;
  border-radius: 100rem;
}

.activities__header > .tertiary-heading {
  background-color: #cdc6fc;
  width: 65%;
  padding: 9.6rem;
}

.activities__header > .subheading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f6a60e;
  padding: 8rem;
  width: 50%;
  height: 50%;
  align-self: flex-start;
}

/* Activities Content */
.activities {
  grid-template-columns: 3fr 2fr;
}

.activities__information > p {
  font-size: var(--font--md);
  background-color: #e5fea3;
  padding: 4.2rem;
  border-radius: var(--border__radius);
  font-weight: var(--font__weight--sb);
  margin-bottom: 2.4rem;
}

.btn--activities {
  width: 100%;
  height: 100%;
  background-color: #00a48f;
  border: none;
  text-align: left;
  padding: 2rem 2.4rem;
  border-radius: 1rem;
}

.btn--activities > p {
  width: 80%;
  font-size: var(--font--lg);
  color: #fff;
}

.btn--activities span {
  font-weight: var(--font__weight--eb);
}

.btn--activities .icon__wrapper {
  background-color: #b1ffbe;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.btn--activities svg {
  width: 2.4rem;
  height: 2.4rem;
  color: #333;
}
