/* Text Utilities */
.text-align {
  text-align: center;
}

.font--md {
  font-weight: var(--font__weight--md);
}

.inter {
  font-family: "Inter", sans-serif;
}

/* Spacing Utilities */
.mg-b--sm {
  margin-bottom: 4.2rem;
}

.mg-b--md {
  margin-bottom: 6.2rem;
}

/* JS Utilities */
.hidden {
  display: none;
}
